<ion-view title="Connect">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title">
            <div class="deedoo"></div>
        </h1>
        <a ui-sref="profil" class="button button-icon icon ion-person right"></a>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content working boardParent" ng-controller="boardMotherController">

        <!-- En ce moment -->
        <h2>
            <span class="icon ion-ios-clock-outline"></span>
            En ce moment
        </h2>
        <div class="list">
            <label class="item">
                <span class="informations">
                    {{babysitter.firstname+' '+babysitter.lastname}} est en train de garder
                    <span ng-repeat="child in children">{{child.name}} </span>
                    jusque {{timeEnding}}.
                </span>
            </label>
        </div>

        <!-- Chut ... -->
        <h2>
            <span class="icon ion-ios-moon-outline"></span>
            Chut ...
        </h2>
        <div class="list">
            <label class="item" ng-repeat="child in children" ng-show="child.sleeping">
                <span class="informations">{{child.name}} est en train de dormir paisiblement.</span>
            </label>
        </div>

        <!-- Reste à faire -->
        <h2>
            <span class="icon ion-ios-list-outline"></span>
            Reste à faire
        </h2>
        <ul class="list">
            <li class="item" ng-repeat="task in tasks" ng-if="task.status == 0">
                {{task.message}}
                <p ng-if="task.time_beginning != null">{{task.time_beginning}}</p>
                <p ng-if="task.time_beginning == null">Aucune heure définie</p>
            </li>
        </ul>

        <!-- Déjà fait -->
        <h2>
            <span class="icon ion-ios-checkmark-empty"></span>
            Déjà fait
        </h2>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="task in tasks" ng-if="task.status == 1">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="true">
                </label>
                {{task.message}}
                <p ng-if="task.time_beginning != null">{{task.time_beginning}}</p>
                <p ng-if="task.time_beginning == null">Aucune heure définie</p>
            </li>
        </ul>

        <a ng-click="endGuard()" class="btn btn-red">Terminer la garde</a>

    </ion-content>

</ion-view>
