<ion-view title="Connect">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <a ui-sref="tab.guards" class="button button-icon icon ion-chevron-left left"></a>
        <h1 class="title">
            Aide
        </h1>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content help">

        <h2>
            <span class="icon ion-ios-calendar-outline"></span>
            Mes gardes
        </h2>
        <p>Récapitulatif des baby-sittings envoyés par les parents. On y retrouve les invitations reçues, acceptées et terminées.</p>

        <h2>
            <span class="icon ion-ios-filing-outline"></span>
            Invitations reçues
        </h2>
        <p>Ce sont les nouvelles invitations que vous pouvez accepter.</p>

        <h2>
            <span class="icon ion-ios-checkmark-empty"></span>
            Invitations acceptées
        </h2>
        <p>Ce sont les invitations que vous avez acceptées, vous devez cliquer dessus pour consulter cette garde.</p>

        <h2>
            <span class="icon ion-ios-heart-outline"></span>
            Gardes terminées
        </h2>
        <p>C'est une liste des baby-sittings que vous avez effectués.</p>

        <h2>
            <span class="icon ion-ios-moon-outline"></span>
            Dodo
        </h2>
        <p>Cette section permet de définir si un enfant dort ou non. Il suffit de cocher pour dire qu'un enfant est en train de dormir.</p>

        <h2>
            <span class="icon ion-ios-list-outline"></span>
            Reste à faire
        </h2>
        <p>Ce sont les recommandations dont la maman veut être notifiée, vous devez cliquer dessus pour la faire passer en état "terminé".</p>

    </ion-content>

</ion-view>
