<ion-view title="Home">

	<!-- CONTENT -->
    <ion-content class="padding" ng-controller="homeController" ng-init="subscribeShow = false">

		<!-- Connexion -->
        <div class="connexion slide-up" ng-show="!subscribeShow">
        	Coucou le monde je slide vers le haut
        	<a class="button" ng-click="subscribeShow = true">Clique sur moi</a>
        </div>
        <!-- Subscribe -->
        <div class="subscribe" ng-show="subscribeShow">
        	Coucou le monde j'arrive depuis le bas
        </div>
        
    </ion-content>

</ion-view>