<ion-view title="InformationGuard">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <a ui-sref="tab.guards" class="button button-icon icon ion-chevron-left left"></a>

        <h1 class="title">
            Invitation
        </h1>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content informationGuard" ng-controller="informationGuardController">

        <div class="list">
            <!-- Date -->
            <label class="item">
                <span class="informations">{{data.date}}</span>
            </label>
            <!-- Time -->
            <label class="item">
                <span class="informations">{{data.time_beginning + ' - ' + data.time_ending}}</span>
            </label>
            <!-- People -->
            <label class="item">
                <span class="informations">{{data.firstname_parent + ' ' + data.lastname_parent}}</span>
            </label>
            <br/>
            <!-- Children -->
            <label class="item">
                <span class="informations">{{data.childrens}}</span>
            </label>
        </div>

        <div class="btnContainer">
            <a ng-click="confirm(true)" class="btn btn-little-green">Accepter</a>
            <a ng-click="confirm(false)" class="btn btn-little-red">Décliner</a>
        </div>

    </ion-content>

</ion-view>