<ion-view title="InformationGuard">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <a ui-sref="tab.guards" class="button button-icon icon ion-chevron-left left"></a>
        <h1 class="title">
            Invitation
        </h1>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content informationGuard" ng-controller="informationGuardController">

        <div class="list">
            <!-- Date -->
            <label class="item">
                <span class="informations">11 décembre 2014</span>
            </label>
            <!-- Time -->
            <label class="item">
                <span class="informations">16:30-20:00</span>
            </label>
            <!-- People -->
            <label class="item">
                <span class="informations">Marion Cotillard</span>
            </label>
            <br/>
            <!-- Children -->
            <label class="item">
                <span class="informations">Paul et Léa</span>
            </label>
        </div>

        <div class="btnContainer">
            <a ng-click="confirm(true)" class="btn btn-little-green">Accepter</a>
            <a ng-click="confirm(false)" class="btn btn-little-red">Décliner</a>
        </div>

    </ion-content>

</ion-view>