<ion-view title="newtask" ng-controller="newTaskController">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title">
            <div class="deedoo"></div>
        </h1>
        <a ui-sref="profil" class="button button-icon icon ion-person right"></a>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content newTask">

        <h1>Garder mes enfants</h1>

        <form ng-submit="createTask()">
            <div class="list">
                <!-- Date -->
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="newTaskForm.date">
                </label>
                <!-- Time Start -->
                <label class="item item-input">
                    <span class="input-label">Heure de début</span>
                    <input type="time" ng-model="newTaskForm.timeStart">
                </label>
                <!-- Time End -->
                <label class="item item-input">
                    <span class="input-label">Heure de fin</span>
                    <input type="time" ng-model="newTaskForm.timeEnd">
                </label>
                <br/>
                <!-- BabySitter -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Baby-Sitter
                    </div>
                    <select ng-model="newTaskForm.babysitterId">
                        <option value="null" selected>Aucune</option>
                        <option ng-repeat="babysitter in babysitters"
                                value="{{babysitter.$id}}">{{babysitter.firstname + ' ' +babysitter.lastname}}</option>
                    </select>
                </label>
                <br/>
                <!-- Enfants -->
                <li class="item item-toggle" ng-repeat="child in children">
                    {{child.name}}
                    <label class="toggle toggle-assertive toggle-green">
                        <input type="checkbox" ng-model="newTaskForm.children[$index]" ng-true-value="true" ng-false-value="false">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <br/>
                <!-- Notifications -->
                <label class="item item-input" ui-sref="notifications">
                    <span class="input-label">Notification(s)</span>
                    <p>{{notificationsCount}}</p>
                </label>

            </div>
            <input ng-if="!good" type="submit" class="btn btn-green" value="Envoyer la demande">
            <p ng-if="good" class="btn btn-gray">Demande envoyée</p>
        </form>



    </ion-content>

</ion-view>