<ion-view title="newtask">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title">Recommandation</h1>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content newNotification">

        <h1>Nouvelle recommandation</h1>

        <form ng-controller="newNotificationController" ng-submit="createNewNotification()">

            <div class="list">
                <!-- Title -->
                <label class="item item-input">
                    <input type="text" placeholder="Libellé de la recommandation" ng-model="newNotificationData.title"
                           required="required">
                </label>
                <!-- Time Start -->
                <label class="item item-input">
                    <span class="input-label">Heure de début</span>
                    <input type="time" placeholder="Heure de début" ng-model="newNotificationData.timeStart">
                </label>
                <!-- Time End -->
                <label class="item item-input">
                    <span class="input-label">Heure de fin</span>
                    <input type="time" placeholder="Heure de fin (optionnel)" ng-model="newNotificationData.timeEnd">
                </label>
                <br/>
                <!-- Enfants -->
                <li class="item item-toggle" ng-repeat="child in children">
                    {{child.name}}
                    <label class="toggle toggle-assertive toggle-green">
                        <input type="checkbox" ng-model="newNotificationData.children[$index]" ng-true-value="true"
                               ng-false-value="false">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <br/>
                <label class="item item-input" ng-init="newNotificationData.other = 'Informations complémentaire'">
                    <textarea rows="6" ng-model="newNotificationData.other">Informations complémentaires</textarea>
                </label>
            </div>

            <!-- BTN -->
            <div>
                <input type="submit" class="btn btn-green" value="OK">
            </div>

        </form>

    </ion-content>

</ion-view>
