<ion-view title="newtask" ng-controller="newTaskController">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <a ui-sref="profil" class="button button-icon icon ion-help left"></a>
        <h1 class="title">
            <div class="deedoo"></div>
        </h1>
        <a ui-sref="profil" class="button button-icon icon ion-person right"></a>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content newTask">

        <h1>Garder mes enfants</h1>

        <form ng-submit="createTask()">
            <div class="list">
                <!-- Date -->
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="newTaskForm.date" required="required">
                </label>
                <!-- Time Start -->
                <label class="item item-input">
                    <span class="input-label">Heure de début</span>
                    <input type="time" ng-model="newTaskForm.timeStart" required="required">
                </label>
                <!-- Time End -->
                <label class="item item-input">
                    <span class="input-label">Heure de fin</span>
                    <input type="time" ng-model="newTaskForm.timeEnd" required="required">
                </label>
                <br/>
                <!-- BabySitter -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Baby-Sitter
                    </div>
                    <select ng-model="newTaskForm.babysitterId" required="required">
                        <option value="null" selected>Aucune</option>
                        <option ng-repeat="babysitter in babysitters" value="{{babysitter.$id}}">{{babysitter.firstname + ' ' +babysitter.lastname}}</option>
                    </select>
                </label>
                <!-- Enfants -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Enfant(s)
                    </div>
                    <select ng-model="newTaskForm.children" multiple required="required">
                        <option value="{{$index}}" ng-repeat="child in parent.children">{{child}}</option>
                    </select>
                </label>
                <br/>
                <!-- Notifications -->
                <label class="item item-input" ng-click="newNotification()">
                    <span class="input-label">Notification(s)</span>
                    <p>{{notificationsCount}}</p>
                </label>
            </div>
            <input type="submit" class="btn btn-green" value="Envoyer la demande">
        </form>

    </ion-content>

</ion-view>