<ion-view title="newtask" ng-controller="notificationController">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title">
            <div class="deedoo"></div>
        </h1>
        <a ui-sref="profil" class="button button-icon icon ion-person right"></a>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content notification">

        <h1>Me rassurer</h1>

        <form action="" ng-submit="backTask()">

            <ul class="list">

                <li class="item item-checkbox" ng-repeat="notification in notifications">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="confirmNotification($index)" ng-checked="notification.added">
                    </label>
                    {{notification.title}} <span ng-if="notification.children">( <span
                        ng-repeat="child in notification.children">{{child}} </span>)</span>

                    <p ng-if="notification.timeStart && notification.timeEnd">
                        {{notification.timeStart}}-{{notification.timeEnd}}</p>

                    <p ng-if="!notification.timeStart && !notification.timeEnd">Aucune heure définie</p>
                </li>

            </ul>
            <p class="littleInformation">Ajoutez des recommandations pour être notifié(e) lorsqu’elles seront
                réalisées.</p>
            <a ui-sref="newNotification" class="btn btn-gray">Ajouter une recommandation</a>
            <input type="submit" class="btn btn-green" value="OK"/>
        </form>

    </ion-content>

</ion-view>