<ion-view title="Connect">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <a ui-sref="" class="button button-icon icon ion-chevron-left left"></a>
        <h1 class="title">
            Mon Compte
        </h1>
        <a ui-sref="modify" class="button button-icon right">Modifier</a>
    </ion-header-bar>

    <!-- CONTENT -->
    <ion-content class="content profil" ng-controller="profileController">
        <div class="picture">
            <img ng-if="profilData.picture" ng-src="{{profilData.picture}}" width="100%" height="100%" />
            <div ng-if="!profilData.picture" class="icon ion-camera"></div>
        </div>
        <div class="list">
            <div class="item item-toggle">
                <span class="input-label">Je suis un(e) Babysitter</span>
                <label class="toggle toggle-assertive toggle-green">
                    <input type="checkbox" ng-true-value="true" ng-false-value="false">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Prénom</span>
                <input type="text" placeholder="Prénom" ng-model="profilData.firstname" />
            </label>
            <label class="item item-input">
                <span class="input-label">Nom</span>
                <input type="text" placeholder="Nom" ng-model="profilData.lastname" />
            </label>
            <label class="item item-input">
                <span class="input-label">Téléphone</span>
                <input type="tel" placeholder="N° de mobile" ng-model="profilData.phone" />
            </label>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="E-mail" ng-model="profilData.email" />
            </label>
            <label class="item item-input">
                <span class="input-label">Mot de passe</span>
                <input type="password" placeholder="Mot de passe" value="******" />
            </label>
        </div>
    </ion-content>

</ion-view>
