<!-- Header -->
<ion-header-bar class="top_bar">
    <h1 class="title">
        <div class="deedoo"></div>
    </h1>
</ion-header-bar>

<form class="subscribeForm" ng-controller="subscribeController" ng-submit="subscribe()">
    <ion-slide-box
            show-pager="true"
            on-slide-changed="hideKeyboard()"
            class="intro">
        <!-- Select TYPE (parent/babysitter) -->
        <ion-slide>
            <div class="subscribe">
                <h1>Inscription</h1>

                <div class="list">
                    <h2 class="center">Etes-vous ...</h2>
                    <label class="item item-radio">
                        <input type="radio" name="group" value="parent" ng-model="subscribeData.type">

                        <div class="item-content">
                            Un parent
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio">
                        <input type="radio" name="group" value="babysitter" ng-model="subscribeData.type">

                        <div class="item-content">
                            Un Baby-Sitter
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>
        </ion-slide>
        <!-- Add Children -->
        <ion-slide>
            <div class="subscribe">
                <h1>Inscription</h1>

                <div class="list">
                    <h2 class="center">Qui sont vos enfants ?</h2>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Prenom" ng-model="subscribeData.children.one">
                        </label>
                        <label class="item item-input" ng-show="subscribeData.children.one">
                            <input type="text" placeholder="Prenom" ng-model="subscribeData.children.two">
                        </label>
                        <label class="item item-input" ng-show="subscribeData.children.two">
                            <input type="text" placeholder="Prenom" ng-model="subscribeData.children.three">
                        </label>
                        <label class="item item-input" ng-show="subscribeData.children.three">
                            <input type="text" placeholder="Prenom" ng-model="subscribeData.children.four">
                        </label>
                    </div>
                </div>
            </div>
        </ion-slide>
        <!-- Information about US -->
        <ion-slide>
            <div class="subscribe aboutUs">
                <h1>Inscription</h1>

                <div class="list">
                    <h2 class="center aboutUs">Informations personnelles</h2>
                    <label class="item item-input">
                        <input type="text" placeholder="Nom" ng-model="subscribeData.lastname">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Prénom" ng-model="subscribeData.firstname">
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="E-mail" ng-model="subscribeData.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Mot de passe" ng-model="subscribeData.password">
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="N° de mobile" ng-model="subscribeData.phone">
                    </label>
                    <input type="submit" class="btn btn-green" value="Commencer">
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</form>