<ion-view title="dodo">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title">
            <div class="deedoo"></div>
        </h1>

        <a ui-sref="profil" class="button button-icon icon ion-person right"></a>
    </ion-header-bar>

    <ion-content class="working dodo">
        <h2>
            <span class="icon ion-ios-sunny-outline"></span>
            Enfant(s) éveillé(s)
        </h2>

        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-selected="false">
                </label>
                Paul
                <p>
                    <span class="icon ion-ios-clock-outline"></span>
                    <span class="moreInformation">Ne dort pas pour le moment</span>
                </p>
            </li>
        </ul>

        <h2>
            <span class="icon ion-ios-moon-outline"></span>
            Enfant(s) en train de dormir
        </h2>

        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-selected="true">
                </label>
                Paul
                <p>
                    <span class="icon ion-ios-clock-outline"></span>
                    <span class="moreInformation">Est en train de dormir paisiblement</span>
                </p>
            </li>
        </ul>

    </ion-content>

</ion-view>