<ion-tabs class="tabs-icon-top">

    <ion-tab title="En Cours" icon="icon ion-ios-list" href="#">
        <ion-nav-view name="tab-working"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Enfant(s)" icon="icon ion-ios-cloudy-night-outline" href="#/tab/dodo">
        <ion-nav-view name="tab-dodo"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mes gardes" icon="icon ion-ios-calendar-outline" href="#/tab/guards">
        <ion-nav-view name="tab-guards"></ion-nav-view>
    </ion-tab>

</ion-tabs>