<ion-slide-box
        show-pager="true"
        class="intro introTutorial">
    <!-- First Slide -->
    <ion-slide>
        <div class="tutorial padding">
            <div class="logo"></div>
            <h2>Préparer</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </ion-slide>
    <!-- Second Slide -->
    <ion-slide>
        <div class="tutorial padding">
            <div class="logo"></div>
            <h2>Être rassuré(e)</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </ion-slide>
    <!-- Third Slide -->
    <ion-slide>
        <div class="tutorial end padding" ng-controller="tutorialController">
            <div class="logo"></div>
            <h2>Profiter</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a ng-click="endTutorial()" class="btn-light">Se connecter</a>
        </div>
    </ion-slide>
</ion-slide-box>