<ion-slide-box
        show-pager="true"
        class="intro introTutorial">
    <!-- First Slide -->
    <ion-slide>
        <div class="tutorial padding">
            <div class="logo"></div>
            <h2>Préparer</h2>

            <p>Soyez rassuré de la réalisation des tâches que vous avez spécifiées ainsi qu’au moment où votre baby-sitter couchera votre enfant grâce aux notifications.</p>
        </div>
    </ion-slide>
    <!-- Second Slide -->
    <ion-slide>
        <div class="tutorial padding">
            <div class="logo"></div>
            <h2>Être rassuré(e)</h2>

            <p>Programmez les tâches les plus importantes à réaliser pour votre baby-sitter afin de vous assurez qu’elles soient faites.</p>
        </div>
    </ion-slide>
    <!-- Third Slide -->
    <ion-slide>
        <div class="tutorial end padding" ng-controller="tutorialController">
            <div class="logo"></div>
            <h2>Profiter</h2>

            <p>Profitez de votre sortie sans inquiétude. Deedoo s’occupe du bon déroulement du baby-sitting.</p>
            <a ng-click="endTutorial()" class="btn-light">Se connecter</a>
        </div>
    </ion-slide>
</ion-slide-box>