<ion-slide-box show-pager="true" class="intro green">
    <!-- First Slide -->
    <ion-slide>
        <div class="tutorial_one">
            <h1>One</h1>
        </div>
    </ion-slide>
    <!-- Second Slide -->
    <ion-slide>
        <div class="tutorial_one">
            <h1>Two</h1>
        </div>
    </ion-slide>
    <!-- Third Slide -->
    <ion-slide>
        <div class="tutorial_one" ng-controller="tutorialController">
            <a ng-click="endTutorial()" class="button">Go to home page</a>
        </div>
    </ion-slide>
</ion-slide-box>