/*
 * COLORS
 */
$google: #F44336 !default;
$content: #F6F7FA !default;
$green: #78C182 !default;
$gray: #A2A2A2 !default;

$lightGrey: #B0B0B0 !default;
$darkGrey: #555555 !default;

$mainFont : 'Source Sans Pro', sans-serif;
$inputShift : 16px;

.input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  color: $darkGrey;
  font-size: 16px;
}

/*
 * LOGO
 */
.top_bar {
  a {
    color: white !important;
  }
  a::before{
    font-size: 1.5em !important;
  }
  .title{
    font-weight: 600;
    color: white !important;
  }
}
.logo{
  width: 100%;
  height: 200px;
  display: block;
  margin: auto;
  background: url('../img/deedoo.svg') no-repeat center;
  background-size: 50% 50%;
}
.deedoo {
  width: 150px;
  height: 100%;
  display: inline-block;
  margin: auto;
  background: url('../img/deedoo.svg') no-repeat center;
  background-size: 70% 70%;
}

/*
 * BTN(s)
 */
.btn {
  width: 95% !important;
  display: block;
  margin: auto;
  text-decoration: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: none;
  border-radius: 5px;
}

.btn-light {
  width: 60%;
  display: block;
  margin: auto;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.5s;
}
.btn-light.activated{
  background-color: white;
  color: $green;
}

.btn-green {
  background-color: $green;
  color: white;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}

.btn-red {
  background-color: #E5695C;
  color: white;
  font-family: $mainFont;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}

.btn-gray {
  border: 1px solid #B0AFB6;
  color: white;
  background-color: #B0AFB6;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  transition: all 0.5s;
}
.btn-gray.activated{
  background-color: #9E9CA4;
}

.btn-little-green{
  width: 30% !important;
  display: inline-block;
  background-color: $green;
  color: white;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  margin: auto 1em;
}
.btn-little-red{
  width: 30% !important;
  display: inline-block;
  background-color: #E5695C;
  color: white;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  margin: auto 1em;
}

/*
 * CONTENT
 */
.content, .subscribe {
  background-color: $content;
  h1 {
    color: $green;
    text-align: center;
  }
}

/*
 * TOP BAR
 */
.top_bar {
  background-color: $green;
}

.title {
  img {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
  }
  .left {
    float: left;
    margin-top: 5px;
    color: white !important;
  }
  .right {
    float: right;
    margin-top: 5px;
    color: white !important;
  }
}

/*
 * Form style
 */

.item {
  background-color: #FFFFFF!important;
}

.item-input {
  padding: 3px 0 3px $inputShift !important;
}

.input-label, .item-toggle {
  color: $lightGrey;
}

.list {
  overflow: hidden;
  .item + .item {
    border-top: none;
  }
  .item + .item:before {
    content: "";
    position: absolute;
    left: $inputShift;
    right: 0;
    top: 0;
    border-bottom: 1px solid #ddd;
  }
  .item-content,
  .item-radio input:checked ~ .item-content{
    background: transparent;
  }
  .radio-icon {
    color: $green;
  }
}

textarea {
  padding-top: 10px;
}



/*
 * ITEM
 */

.item {
  p {

    font-size: 13px;
    color: #9B9B9B;
  }
}


/*
 * TABS
 */
.tabs{
  color: #A3A3A3 !important;
}
.tab-item-active{
  color: $green !important;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: $green;
}
