/*
 * COLORS
 */
$google: #F44336 !default;
$content: #F6F7FA !default;
$green: #78C182 !default;
$gray: #A2A2A2 !default;

/*
 * LOGO
 */
.top_bar {
  a {
    color: white !important;
  }
}

.deedoo {
  width: 150px;
  height: 100%;
  display: inline-block;
  margin: auto;
  background: url('../img/deedoo.svg') no-repeat center;
  background-size: 70% 70%;
}

/*
 * BTN(s)
 */
.btn {
  width: 95% !important;
  display: block;
  margin: auto;
  text-decoration: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: none;
  border-radius: 5px;
}

.btn-light {
  width: 60%;
  display: block;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid white;
  border-radius: 10px;
}

.btn-green {
  background-color: $green;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}

.btn-gray {
  background-color: $gray;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}

/*
 * CONTENT
 */
.content, .subscribe {
  background-color: $content;
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: $green;
    text-align: center;
  }
}

/*
 * TOP BAR
 */
.top_bar {
  background-color: $green;
}

.title {
  img {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
  }
  .left {
    float: left;
    margin-top: 5px;
    color: white !important;
  }
  .right {
    float: right;
    margin-top: 5px;
    color: white !important;
  }
}

.input {
  font-family: 'Source Sans Pro', sans-serif;
}

.item-input {
  padding: 2px 0 5px 16px !important;
}