/*
 * COLORS
 */
$google: #F44336 !default;
$content: #F6F7FA !default;
$green: #78C182 !default;
$gray: #A2A2A2 !default;

/*
 * LOGO
 */
.deedoo {
  width: 100%;
  height: 16%;
  display: inline-block;
  background: url('../img/deedoo.png') no-repeat bottom;
  background-size: 35% 35%;
}

/*
 * BTN(s)
 */
.btn{
  width: 95% !important;
  display: block;
  margin: auto;
  text-decoration: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: none;
  border-radius: 5px;
}
.btn-light {
  width: 60%;
  display: block;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid white;
  border-radius: 10px;
}
.btn-green {
  background-color: $green;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}
.btn-gray {
  background-color: $gray;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}

/*
 * CONTENT
 */
.content, .subscribe {
  background-color: $content;
  h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: $green;
    text-align: center;
  }
}

/*
 * TOP BAR
 */
.top_bar{
  background-color: $green;
}
.title{
  img{
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}
.input{
  font-family: 'Source Sans Pro', sans-serif;
}