.connect{
  h1{
    font-size: 1.7em;
    margin-top: 30%;
    margin-bottom: 10%;
  }
  .btn-gray{
    margin-top: 3%;
  }
  .missing_password{
    display: block;
    margin: auto;
    text-decoration: none;
    color: $gray !important;
    text-align: center;
  }
}